* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
#h1Tag {
    font-size: 40px;
}

#parentDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 3rem;
}
#childDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
}

#pTag {
    transform: translateX(2rem);
}
#ancTag{
    font-size: 20px;
}